<%-include("sidemenu")-%>
    <div class="text-center information">



        <h4>Enter Contact information</h4>
        <br>
        <form method="POST" action="profile">


            <div class="container">
                <div class="row">
                    <div class="col col-6-lg col-6-md col-12-sm">



                        <div class="samelinewidth">
                            <%if(found[0].firstname!=="NULL"){%>
                                <label for="firstname">Full Name</label>
                                <input type="text" placeholder="First name" id="firstname" name="firstname"
                                    value="<%=found[0].firstname%>" autocomplete="off">
                                <%}else{%>
                                    <label for="firstname">Full Name</label>
                                    <input type="text" placeholder="First name" id="firstname" name="firstname" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>

                        <div class="samelinewidth">
                            <%if(found[0].profile!=="NULL"){%>
                                <label for="profile">Heading</label>
                                <input type="text" placeholder="Write a short note of yourself" id="profile" name="profile"
                                    value="<%=found[0].profile%>" autocomplete="off">
                                <%}else{%>
                                    <label for="profile">Heading</label>
                                    <input type="text" placeholder="Write a short note of yourself" id="profile" name="profile" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>


                        <div class="samelinewidth">
                            <%if(found[0].email!=="NULL"){%>
                                <label for="email">Email</label>
                                <input type="email" placeholder="Email" id="email" name="email"
                                    value="<%=found[0].email%>" autocomplete="off">
                                <%}else{%>
                                    <label for="email">Email</label>
                                    <input type="email" placeholder="Email" id="email" name="email" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>




                        <div class="samelinewidth">
                            <%if(found[0].website!=="NULL"){%>
                                <label for="website">Website</label>
                                <input type="url" placeholder="Website" id="website" name="website"
                                    value="<%=found[0].website%>" autocomplete="off">
                                <%}else{%>
                                    <label for="website">Website</label>
                                    <input type="url" placeholder="Website" id="website" name="website" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>


                        <div class="samelinewidth">
                            <%if(found[0].github!=="NULL"){%>
                                <label for="github">Github Link</label>
                                <input type="url" placeholder="Github" id="github" name="github"
                                    value="<%=found[0].github%>" autocomplete="off">
                                <%}else{%>
                                    <label for="github">Github Link</label>
                                    <input type="url" placeholder="Github" id="github" name="github" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>


                        <div class="samelinewidth">
                            <%if(found[0].linkedin!=="NULL"){%>
                                <label for="linkedin">Linkedin Link</label>
                                <input type="url" placeholder="LinkedIn" id="linkedin" name="linkedin"
                                    value="<%=found[0].linkedin%>" autocomplete="off">
                                <%}else{%>
                                    <label for="linkedin">Linkedin Link</label>
                                    <input type="url" placeholder="LinkedIn" id="linkedin" name="linkedin" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>
                        <div class="samelinewidth">
                            <%if(found[0].twitter!=="NULL"){%>
                                <label for="twitter">Twitter Link</label>
                                <input type="url" placeholder="Twitter" id="twitter" name="twitter"
                                    value="<%=found[0].twitter%>" autocomplete="off">
                                <%}else{%>
                                    <label for="twitter">Twitter Link</label>
                                    <input type="url" placeholder="Twitter" id="twitter" name="twitter" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>


                 

                    </div>



                    <div class="col col-6-lg col-6-md col-12-sm">

                        <div class="samelinewidth">
                            <%if(found[0].pno!=="NULL"){%>
                                <label for="pno">Phone</label>
                                <input type="number" placeholder="Phone" id="pno" name="pno" value="<%=found[0].pno%>"
                                    autocomplete="off">
                                <%}else{%>
                                    <label for="pno">Phone</label>
                                    <input type="number" placeholder="Phone" id="pno" name="pno" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>



                        <div class="samelinewidth">
                            <%if(found[0].currentposition!==null){%>






                                                                            <label for="currentposition">Role</label>
                                                                            <input type="text" placeholder="Student/Designer"
                                                                                id="currentposition" name="currentposition"
                                                                                value="<%=found[0].currentposition%>"
                                                                                autocomplete="off">
                                                                            <%}else{%>
                                                                                <label for="currentposition">Role</label>
                                                                                <input type="text" placeholder="Student/Designer"
                                                                                    id="currentposition" name="currentposition"
                                                                                    value=""
                                                                                    autocomplete="off">
                                                                                <%}%>
                        </div>



                        <div class="samelinewidth">
                            <%if(found[0].country!=="NULL"){%>
                                <label for="country">Country</label>
                                <input type="text" placeholder="Country" id="country" name="country"
                                    value="<%=found[0].country%>" autocomplete="off">
                                <%}else{%>
                                    <label for="country">Country</label>
                                    <input type="text" placeholder="Country" id="country" name="country" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>

                        <div class="samelinewidth">
                            <%if(found[0].state!=="NULL"){%>
                                <label for="state">State</label>
                                <input type="text" placeholder="State" id="state" name="state"
                                    value="<%=found[0].state%>" autocomplete="off">
                                <%}else{%>
                                    <label for="state">State</label>
                                    <input type="text" placeholder="state" id="state" name="state" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>

                        <div class="samelinewidth">
                            <%if(found[0].city!=="NULL"){%>
                                <label for="city">City</label>
                                <input type="text" placeholder="City" id="city" name="city" value="<%=found[0].city%>"
                                    autocomplete="off">
                                <%}else{%>
                                    <label for="city">State</label>
                                    <input type="text" placeholder="City" id="city" name="city" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>


                        <div class="samelinewidth">
                            <%if(found[0].pin!=="NULL"){%>
                                <label for="pin">Pincode</label>
                                <input type="text" placeholder="Pincode" id="pin" name="pin" value="<%=found[0].pin%>"
                                    autocomplete="off">
                                <%}else{%>
                                    <label for="pin">Pincode</label>
                                    <input type="text" placeholder="Pincode" id="pin" name="pin" value=""
                                        autocomplete="off">
                                    <%}%>
                        </div>

                        <div class="samelinewidth">
                            <%if(found[0].address!=="NULL"){%>
                                <label for="address">Address</label>
                                <input type="text" rows="2" cols="30" placeholder="address" id="address" name="address"
                                    value="<%=found[0].address%>" autocomplete="off">
                                <%}else{%>
                                    <label for="address">Address</label>
                                    <input type="text" rows="2" cols="30" placeholder="address" id="address"
                                        name="address" value="" autocomplete="off">


                                    <%}%>
                        </div>


                        <br> <br>

                        <div class="footer">
                            <div class="container flexx">
                            <a class="btn button prev notclickable add" style="cursor: no-drop;">Prev</a>
                            <button class="btn button next">Save & Next</button>
                            </div>
                        </div>

                    




                    </div>




                </div>
            </div>

        </form>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="/js/sidebar.js" type="text/javascript"></script>
    </body>

    </html>