<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="public/icons/favicon.ico" />
  <title>Resume/CV Design</title>
  <link rel="stylesheet" href="css/resume2.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>


  <div class="resume">
    <div class="resume_left">
      <%if(found[0].img!==null){%>
      <div class="resume_profile">
        
          <img src="./uploads/<%=found[0]._id%>/<%=found[0].img%>" alt="profile_pic">
         
      </div>
      <%}%>
      <div class="resume_content">
        <div class="resume_item resume_info">


          <%if((found[0].firstname!==null&&found[0].firstname.length!==0)||
            (found[0].lastname!==null&&found[0].lastname.length!==0)){%>

            <div class="title">
              <p class="bold data">
                <%if(found[0].firstname!==null&&found[0].firstname.length!==0){%>
                  <%=found[0].firstname%>
                    <%}%>
                      <%if(found[0].lastname!==null&&found[0].lastname.length!==0){%>
                        <%=found[0].lastname%>
                          <%}%>
              </p>
              <p class="regular">Designer</p>
            </div>
            <%}%>

              <%if((found[0].address!==null&&found[0].address.length!==0)||
                (found[0].country!==null&&found[0].country.length!==0)||
                (found[0].state!==null&&found[0].state.length!==0)|| (found[0].city!==null&&found[0].city.length!==0)||
                (found[0].pno!==null&&found[0].pno.length!==0)|| (found[0].email!==null&&found[0].email.length!==0)||
                (found[0].pin!==null&&found[0].pin.length!==0)) {%>



                <ul>

                  <%if((found[0].address!==null&&found[0].address.length!==0)||
                (found[0].country!==null&&found[0].country.length!==0)||
                (found[0].state!==null&&found[0].state.length!==0)|| 
                (found[0].city!==null&&found[0].city.length!==0)) {%>

                  <li>
                      
                    <div class="icon"> 
                       <i class="fas fa-map-signs"></i>
                     </div>

                    <div class="data">

                      <%if(found[0].address!==null&&found[0].address.length!==0){%>
                        <%=found[0].address%>
                          <%}%>

                            <%if(found[0].country!==null&&found[0].country.length!==0){%>
                              <div >
                                <%=found[0].country%>
                              </div>
                              <%}%>
                                <%if(found[0].state!==null&&found[0].state.length!==0){%>
                                  <div>
                                    <%=found[0].state%>
                                  </div>
                                  <%}%>
                                    <%if(found[0].city!==null&&found[0].city.length!==0){%>
                                      <div>
                                        <%=found[0].city%>
                                      </div>
                                      <%}%>
                                        <%if(found[0].address!==null&&found[0].address.length!==0){%>
                                          <div>
                                            <%=found[0].pin%>
                                          </div>
                                          <%}%>
                    </div>
                  </li>
                  <%}%>


                  <%if(found[0].pno!==null){%>
                    <li>
                      <div class="icon">
                        <i class="fas fa-mobile-alt"></i>
                      </div>
                      <div class="data">
                        <%=found[0].pno%>
                       
                      </div>
                    </li>
                    <%}%>





                      <%if(found[0].email!==null&&found[0].email.length!==0){%>
                        <li>
                          <div class="icon">
                            <i class="fas fa-envelope"></i>
                          </div>
                          <div class="data">
                            <%=found[0].email%>
                          </div>
                        </li>
                        <%}%>
                </ul>
                <%}%>
        </div>



        <%if(found[0].skills.length!==0){%>
          <div class="resume_item resume_skills">
            <div class="title">
              <p class="bold">skill's</p>
            </div>
            <ul>
              <%for(let i=0;i<found[0].skills.length;i++){%>
                <li>
                  <%if(found[0].skills[i].skillsname.length!==0){%>
                    <div class="skill_name data">
                      <%=found[0].skills[i].skillsname%>
                    </div>
                    <%}%>
                      <div class="skill_progress">
                        <span style='width:<%=found[0].skills[i].skillsdetails%>%;'></span>
                      </div>
                      <div class="skill_per">
                        <%=found[0].skills[i].skillsdetails%>%
                      </div>
                </li>
                <%}%>
            </ul>
          </div>
          <%}%>

            

              <%if((found[0].github!==null&&found[0].github.length!=0)||
                (found[0].linkedin!==null&&found[0].linkedin.length!==0)||
                (found[0].twitter!==null&&found[0].twitter.length!==0)){%>

                <div class="resume_item resume_social">
                  <div class="title">
                    <p class="bold">Social</p>
                  </div>
                  <ul>

                    <%if(found[0].github!==null&&found[0].github.length!==0){%>
                      <li>
                        <div class="icon">
                          <i class="fab fa-github-square"></i>
                        </div>
                        <div class="data">
                          <p class="semi-bold">Github</p>
                          <p>
                          
                            <%=found[0].github%>
                           
                        </p>
                        </div>
                      </li>
                      <%}%>

                        <%if(found[0].twitter!==null&&found[0].twitter.length!==0){%>
                          <li>
                            <div class="icon">
                              <i class="fab fa-twitter-square"></i>
                            </div>
                            <div class="data">
                              <p class="semi-bold">Twitter</p>
                              <p>
                                <%=found[0].twitter%>
                              </p>
                            </div>
                          </li>
                          <%}%>

                            <%if(found[0].linkedin!==null&&found[0].linkedin.length!==0){%>
                              <li>
                                <div class="icon">
                                  <i class="fab fa-linkedin"></i>
                                </div>
                                <div class="data">
                                  <p class="semi-bold">Linkedin</p>
                                  <p>
                                    <%=found[0].linkedin%>
                                  </p>
                                </div>
                              </li>
                              <%}%>
                  </ul>
                </div>
                <%}%>
      </div>
    </div>


    <div class="resume_right">
      <div class="resume_item resume_about">
        <div class="title">
          <p class="bold">About us</p>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio culpa
          officia totam atque exercitationem inventore repudiandae?</p>
      </div>
      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Work Experience</p>
        </div>
        <ul>
          <li>
            <div class="date">2013 - 2015</div>
            <div class="info">
              <p class="semi-bold">Lorem ipsum dolor sit amet.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
            </div>
          </li>
          <li>
            <div class="date">2015 - 2017</div>
            <div class="info">
              <p class="semi-bold">Lorem ipsum dolor sit amet.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
            </div>
          </li>
          <li>
            <div class="date">2017 - Present</div>
            <div class="info">
              <p class="semi-bold">Lorem ipsum dolor sit amet.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_education">
        <div class="title">
          <p class="bold">Education</p>
        </div>
        <ul>
          <li>
            <div class="date">2010 - 2013</div>
            <div class="info">
              <p class="semi-bold">Web Designing (Texas University)</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
            </div>
          </li>
          <li>
            <div class="date">2000 - 2010</div>
            <div class="info">
              <p class="semi-bold">Texas International School</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="resume_item resume_hobby">
        <div class="title">
          <p class="bold">Hobby</p>
        </div>
        <ul>
          <li><i class="fas fa-book"></i></li>
          <li><i class="fas fa-gamepad"></i></li>
          <li><i class="fas fa-music"></i></li>
          <li><i class="fab fa-pagelines"></i></li>
        </ul>
      </div>
    </div>
  </div>





</body>

</html>