<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="public/icons/favicon.ico" />
  <title>Resume/CV Design</title>
  <link rel="stylesheet" href="css/resume2.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>

<div class="resume">
   <div class="resume_left">
     <%if(found[0].img!==null){%>
     <div class="resume_profile">
      <img src="./uploads/<%=found[0]._id%>/<%=found[0].img%>" alt="profile_pic">
     </div>
     <%}%>
     <div class="resume_content">
       <div class="resume_item resume_info">

        <%if((found[0].firstname!==null&&found[0].firstname.length!==0)||
        (found[0].currentposition!==null&&found[0].currentposition.length!==0)||
        (found[0].profile!==null&&found[0].profile.length!==0)){%>
         <div class="title">
           <p class="bold"><%=found[0].firstname%></p>
           <p class="regular"><%=found[0].currentposition%></p>
           <br />
           <p class="regular"><%=found[0].profile%></p>
         </div>
        <%}%>

        <hr style="border:solid 1px #B1EAFF;background-color: #B1EAFF;">
        <br>
         <ul>
          
          <%if((found[0].address!==null&&found[0].address.length!==0)||
                (found[0].country!==null&&found[0].country.length!==0)||
                (found[0].state!==null&&found[0].state.length!==0)|| 
                (found[0].city!==null&&found[0].city.length!==0)) {%>
          <li>
             <div class="icon">
               <i class="fas fa-map-signs"></i>
             </div>
             <div class="data">
              <%=found[0].address%>
               <br /> <%=found[0].country%>
               <br /> <%=found[0].state%>
               <br /> <%=found[0].city%>
               <br /> <%=found[0].pin%>
             </div>
           </li>
          <%}%>

          <%if(found[0].pno!==null){%>
           <li>
             <div class="icon">
               <i class="fas fa-mobile-alt"></i>
             </div>
             <div class="data">
              <%=found[0].pno%>
             </div>
           </li>
          <%}%>

          <%if(found[0].email!==null&&found[0].email.length!==0){%>
           <li>
             <div class="icon">
               <i class="fas fa-envelope"></i>
             </div>
             <div class="data">
              <%=found[0].email%>
             </div>
           </li>
           <%}%>

         </ul>
       </div>


       <%if(found[0].skills.length!==0){%>
          <%if(found[0].skills[0].skillsname.length!==0){%>
            <%if((found[0].skills[0].skillsname[0].length!==0&&found[0].skills[0].skillsdetails[0]!==null)){%>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
         <ul>
          
          <%for(let i=0;i<found[0].skills[0].skillsname.length;i++){%>
           <li>
             <div class="skill_name">
              <%=found[0].skills[0].skillsname[i]%>
             </div>
             <div class="skill_progress">
               <span style="width: <%=found[0].skills[0].skillsdetails[i]%>%;"></span>
             </div>
             <div class="skill_per"><%=found[0].skills[0].skillsdetails[i]%>%</div>
           </li>
           <%}%>
          
          
          
         </ul>
       </div>
       <%}%>
       <%}%>
        <%}%>


        <%if((found[0].github!==null&&found[0].github.length!=0)||
                (found[0].linkedin!==null&&found[0].linkedin.length!==0)||
                (found[0].twitter!==null&&found[0].twitter.length!==0)){%>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-twitter-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Twitter</p>
               <p><%=found[0].twitter%></p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-github"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Github</p>
               <p><%=found[0].github%></p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-linkedin"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Linkedin</p>
               <p><%=found[0].linkedin%></p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-weebly"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Website</p>
               <p><%=found[0].website%></p>
             </div>
           </li>

         </ul>
       </div>

 <%}%>




 <%if(found[0].extra.length!==0){%>
          <%if(found[0].extra[0].language.length!==0){%>
            <%if(found[0].extra[0].language[0].length!==0){%>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">Languages</p>
         </div>
         <ul>
          
          <%for(let i=0;i<found[0].extra[0].language.length;i++){%>
           <li>
             <div class="data">
             <p class="semi-bold"> <%=found[0].extra[0].language[i]%></p>
             </div>
           </li>
           <%}%>   
         </ul>
       </div>
       <%}%>
        <%}%>
        <%}%>



 





     </div>
  </div>


  <div class="resume_right">



     <%if(found[0].project.length!==0){%>
          <%if(found[0].project[0].projectname.length!==0){%>
            <%if((found[0].project[0].projectname[0].length!==0||
            found[0].project[0].project1description[0].length!==0||
            found[0].project[0].link[0].length!==0||
            found[0].project[0].toolsused[0].length!==0)){%>
    <div class="resume_item resume_education">
        <div class="title">
           <p class="bold">Projects</p>
         </div>

         <ul>

             <%for(let i=0;i<found[0].project[0].projectname.length;i++){%>
         <li>
            <div class="date"><%=found[0].project[0].projectname[i]%></div> 
            <div class="info">

              <p><i class="fab fa-weebly"></i> <%=found[0].project[0].link[i]%></p>
              <br />
            <p class="semi-bold"><%=found[0].project[0].toolsused[i]%></p> 
            <p><%=found[0].project[0].project1description[i]%></p>
            </div>
         </li>
            <%}%> 
      </ul>
      
    </div>
    <%}%>
    <%}%>
    <%}%>

    

    <%if(found[0].work.length!==0){%>
          <%if(found[0].work[0].companyname.length!==0){%>
            <%if((found[0].work[0].companyname[0].length!==0||found[0].work[0].startdate[0]!==null
            ||found[0].work[0].enddate[0]!==null||
            found[0].work[0].jobdescription[0].length!==0||
            found[0].work[0].jobtitle[0].length!==0||
            found[0].work[0].state[0].length!==0||
            found[0].work[0].city[0].length!==0)){%>
    <div class="resume_item resume_work">
      
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
        <ul>

          <%for(let i=0;i<found[0].work[0].companyname.length;i++){%>
            <li>
                <div class="date">2013 - 2015</div> 
                <div class="info">
                     <p class="semi-bold">Lorem ipsum dolor sit amet.</p> 
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>
           <%}%> 
        </ul>
        
    </div>
<%}%>
<%}%>
<%}%>



<%if(found[0].school.length!==0){%>
          <%if(found[0].school[0].name.length!==0){%>
            <%if((found[0].school[0].name[0].length!==0||
            found[0].school[0].startdate[0]!==null
            ||found[0].school[0].enddate[0]!==null||
            found[0].school[0].degree[0].length!==0||
            found[0].school[0].gpa[0]!==null||
            found[0].school[0].location[0].length!==0)){%>
    <div class="resume_item resume_education">

      
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>

        <%for(let i=0;i<found[0].work[0].companyname.length;i++){%>
            <li>
                <div class="date">2010 - 2013</div> 
                <div class="info">
                     <p class="semi-bold">Web Designing (Texas University)</p> 
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                </div>
            </li>

           <%}%> 
           
        </ul>
        
    </div>
   <%}%> 
<%}%>
<%}%>



    <div class="resume_item resume_hobby">
      <div class="title">
           <p class="bold">Hobby</p>
         </div>
       <ul>
         <li><i class="fas fa-book"></i></li>
         <li><i class="fas fa-gamepad"></i></li>
         <li><i class="fas fa-music"></i></li>
         <li><i class="fab fa-pagelines"></i></li>
      </ul>
    </div>



  
 <%if(found[0].extra.length!==0){%>
          <%if(found[0].extra[0].strength.length!==0){%>
            <%if(found[0].extra[0].strength[0].length!==0){%>
       <div class="resume_item">
         <div class="title">
           <p class="bold">Strengths</p>
         </div>
         <ul>
          
          <%for(let i=0;i<found[0].extra[0].strength.length;i++){%>
           <li>
             <div class="info">
             <p class="semi-bold"> <%=found[0].extra[0].strength[i]%></p>
             </div>
           </li>
           <%}%>   
         </ul>
       </div>
       <%}%>
        <%}%>
        <%}%>


  </div>
</div>

</body>
</html>