<%-include("sidemenu")-%>
<div class="text-center information">
    <h3>Your Work Details</h3>
    <br>
    <form method="POST" action="work">
        <%for(let i=0;i<noOfWorkExperience;i++){%>
        <div class="sameline">
            <%if((found[0].work.length!==0&&((noOfWorkExperience-i)!==1))||(flag3===1)){%>
            <label for="companyname">Company name</label>
            <input type="text" placeholder="Company name" id="companyname" name="companyname" value="<%=found[0].work[i].companyname%>">
            <%}else{%>
                <label for="companyname">Company name</label>
            <input type="text" placeholder="Company name" id="companyname" name="companyname" value="">
            <%}%>
        </div>
        <div class="sameline">
            <%if((found[0].work.length!==0&&((noOfWorkExperience-i)!==1))||(flag3===1)){%>
            <label for="jobtitle">jobtitle</label>
            <input type="text" placeholder="jobtitle" id="jobtitle" name="jobtitle" value="<%=found[0].work[i].jobtitle%>">
            <%}else{%>
            <label for="jobtitle">jobtitle</label>
            <input type="text" placeholder="jobtitle" id="jobtitle" name="jobtitle" value="">
            <%}%>
        </div>
        <div class="sameline">
            <%if((found[0].work.length!==0&&((noOfWorkExperience-i)!==1))||(flag3===1)){%>
            <label for="state">state</label>
            <input type="text" placeholder="state" id="state" name="state" value="<%=found[0].work[i].state%>">
            <%}else{%>
                <label for="state">state</label>
                <input type="text" placeholder="state" id="state" name="state" value="">
                <%}%>     
        </div>
        <div class="sameline">
            <%if((found[0].work.length!==0&&((noOfWorkExperience-i)!==1))||(flag3===1)){%>
            <label for="city">city</label>
            <input type="text" placeholder="city" id="city" name="city" value="<%=found[0].work[i].city%>">
            <%}else{%>
                <label for="city">city</label>
            <input type="text" placeholder="city" id="city" name="city" value="">
            <%}%> 
        </div>
        <div class="sameline">
            <%if((found[0].work.length!==0&&((noOfWorkExperience-i)!==1))||(flag3===1)){%>
                <%if(found[0].work[i].startdate!==null){%>
                    <%let template=found[0].work[i].startdate%>
                    <%let date=template.getDate()%>
                    <%if(date<10){%>
                    <%date='0' +date%>
                    <%}%>
                    <%let month=(template.getMonth())+1%>
                    <%if(month<10){%>
                    <%month='0' +month%>
                    <%}%>
                    <%let year=template.getFullYear()%>
                    <%let finaldate=`${year}-${month}-${date}`%>
            <label for="startdate">Start Date</label>
            <input type="date" placeholder="startdate" id="startdate" name="startdate" value="<%=finaldate%>">
            <%}else{%>
                <label for="startdate">Start Date</label>
                <input type="date" placeholder="startdate" id="startdate" name="startdate" value="">
            <%}%> 
            <%}else{%>
                <label for="startdate">Start Date</label>
                <input type="date" placeholder="startdate" id="startdate" name="startdate" value="">
            <%}%>     
        </div>
        <div class="sameline">
            <%if((found[0].work.length!==0&&((noOfWorkExperience-i)!==1))||(flag3===1)){%>
                <%if(found[0].work[i].enddate!==null){%>
                    <%let template=found[0].work[i].enddate%>
                    <%let date=template.getDate()%>
                    <%if(date<10){%>
                    <%date='0' +date%>
                    <%}%>
                    <%let month=(template.getMonth())+1%>
                    <%if(month<10){%>
                    <%month='0' +month%>
                    <%}%>
                    <%let year=template.getFullYear()%>
                    <%let finaldate=`${year}-${month}-${date}`%>
            <label for="enddate">End Date</label>
            <input type="date" placeholder="enddate" id="enddate" name="enddate" value="<%=finaldate%>">
            <%}else{%>
                <label for="enddate">End Date</label>
            <input type="date" placeholder="enddate" id="enddate" name="enddate" value="">
            <%}%>
            <%}else{%>
                <label for="enddate">End Date</label>
            <input type="date" placeholder="enddate" id="enddate" name="enddate" value="">
            <%}%>
        </div>
        <div class="sameline">
            <%if((found[0].work.length!==0&&((noOfWorkExperience-i)!==1))||(flag3===1)){%>
            <label for="jobdescription">Job Description</label>
            <input type="text" placeholder="jobdescription" id="jobdescription" name="jobdescription" value="<%=found[0].work[i].jobdescription%>">
            <%}else{%>
                <label for="jobdescription">Job Description</label>
                <input type="text" placeholder="jobdescription" id="jobdescription" name="jobdescription">
            <%}%>       
        </div>
        <br>
		<hr class="linecoloured">
		<%}%>
		<br>
		<button id="fg" name="btn" value="1">Add</button>
		<button id="fg" name="btn" value="2">Delete</button>
		<br>
		<br>
		<div class="footer">
			<a href="/education" class="btn button prev">Prev</a>
			<button name="btn" value="3" class="btn button next">Next</button>
		</div>
    </form>

    </div>
    </div>
</div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="/js/sidebar.js" type="text/javascript"></script>
    </body>

    </html>